{% extends 'basic.html' %} {% block body %}
<main class="w-full flex-grow p-6">
  <h1 class="text-3xl text-black pb-6">Accounts</h1>

  <div class="w-full mt-12">
    <p class="text-xl pb-3 flex items-center">
      <i class="fas fa-list mr-3"></i> Latest Reports
    </p>
    <div class="bg-white overflow-auto">
      <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th
              class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm"
            >
              User
            </th>
            <th
              class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm"
            >
              Name
            </th>
            <th
              class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm"
            >
              Designation
            </th>
            <th
              class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="text-gray-700">
          {% for user in acc %} {% if forloop.counter0|divisibleby:2 %}
          <tr>
            {% else %}

          <tr class="bg-gray-200">
            {% endif %}
            <td class="w-1/4 text-left pt-2 px-4">
              <img src="{{user.img}}" alt="" class="w-8 h-8 rounded-md" />
            </td>
            <td class="w-1/4 text-left self-center py-3 px-4">
              {{user.title}}
            </td>
            <td class="w-1/4 text-left py-3 px-4">{{user.subtitle}}</td>
            <td class="w-1/4 text-left py-3 px-4 flex flex-row gap-4">
              <a
                href="{{user.url}}"
                target="_blank"
                class="w-20 h-8 rounded-md bg-blue-500 text-lg text-white self-center px-4"
                >View</a
              >
              <div
                data-acc-id="{{user.id}}"
                data-acc-name="{{user.title}}"
                class="delete-acc-btn w-20 h-8 rounded-md bg-red-500 text-lg text-white self-center px-4 cursor-pointer"
                >Delete</div
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/account.js"></script>
{% endblock %}
