{% extends 'admin-base.html' %}



{% block body %}
<main class="w-full flex-grow p-6">
    <h1 class="text-2xl text-black mt-10">Events</h1>

    <div class="w-full mt-6">
        <div class="bg-white overflow-auto">
            <table class="min-w-full bg-white">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm">Title</th>
                        <th class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm">Time</th>
                        <th class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm">Interested</th>
                        <th class="w-1/4 text-left py-3 px-4 uppercase font-semibold text-sm">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    {% for event in events %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <tr>
                        {% else %}
                        <tr class="bg-gray-200">
                        {% endif %}
                            <td class="w-1/4 text-left py-3 px-4">{{event.title}}</td>
                            <td class="w-1/4 text-left py-3 px-4">{{event.event_time}}, {{event.event_date}}</td>
                            <td class="w-1/4 text-left py-3 px-4">0</td>
                            <td class="w-1/4 text-left py-3 px-4 flex flex-row gap-4">
                                <p class="cursor-pointer w-20 h-8 rounded-md bg-blue-500 text-lg text-white self-center px-4" href='/event/{{event.id}}/'>View</p>
                                <div
                                data-faq-id="{{event.id}}"
                                class="delete-event-btn w-20 h-8 rounded-md bg-red-500 text-lg text-white self-center px-4 cursor-pointer">Delete</div
                            >
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}



{% block scripts %}
<script src="/static/scripts/account.js"></script>
{% endblock %}