{% extends 'basic.html' %}



{% block body %}
<main class="w-full flex-grow p-6">
    <h1 class="text-3xl text-black pb-6">Posts</h1>

    <div class="w-full mt-12">
        <p class="text-xl pb-3 flex items-center">
            <i class="fas fa-list mr-3"></i> Latest Reports
        </p>
        <div class="bg-white overflow-auto">
            <table class="min-w-full bg-white">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm">Author</th>
                        <th class="w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm">Posted at</th>
                        <th class="w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm">Likes</th>
                        <th class="w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm">Reports</th>
                        <th class="w-1/5 text-left py-3 px-4 uppercase font-semibold text-sm">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                    {% for post in posts %}
                        {% if forloop.counter0|divisibleby:2 %}
                        <tr>
                        {% else %}
                        <tr class="bg-gray-200">
                        {% endif %}
                            <td class="w-1/5 text-left py-3 px-4"><a href="{{post.authorURL}}" target="_blank">{{post.author}}</a></td>
                            <td class="w-1/5 text-left py-3 px-4">{{post.time}}</td>
                            <td class="w-1/5 text-left py-3 px-4">{{post.likes}}</td>
                            <td class="w-1/5 text-left py-3 px-4">{{post.report}}</td>
                            <td class="w-1/5 text-left py-3 px-4 flex flex-row gap-4">
                                <a target="_blank" href="{{post.url}}" class="w-20 h-8 rounded-md bg-blue-500 text-lg text-white self-center px-4">View</a>
                                <div
                                data-post-id="{{post.id}}"
                                data-post-name="{{post.author}}"
                                class="delete-post-btn w-20 h-8 rounded-md bg-red-500 text-lg text-white self-center px-4 cursor-pointer"
                                >Delete</div
                            >
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
{% block scripts %}
<script src="/static/scripts/account.js"></script>
{% endblock %}