<div class="suggestions rounded w-full bg-white py-7 px-10 shadow-lg my-10">
    <p class="text-lg font-semibold">Suggestions</p>
    <div>
        <div class="flex justify-between items-center py-5 border-b-2 border-gray-200 border-solid">
            <div class="flex items-center justify-start">
                <div class="rounded-full h-14 w-14 overflow-hidden flex items-center justify-center flex-shrink-0">
                    <img src="{{user.account.profile_img_url}}" class= "h-14 w-14 object-cover" alt="">
                </div>
                <div class="mx-4">
                    <p class="mt-1">{{user.account.name}}</p>
                    <p class="text-sm text-gray-400 mt-1">Associate Project Manager | Google</p>
                </div>
            </div>
            <div>
                <button class="bg-accent py-1 px-4 text-white text-md rounded">Follow<b>&#8314</b></button>
            </div>
        </div>
        <div class="flex justify-between items-center py-5 border-b-2 border-gray-200 border-solid">
            <div class="flex items-center justify-start">
                <div class="rounded-full h-14 w-14 overflow-hidden flex items-center justify-center flex-shrink-0">
                    <img src="{{user.account.profile_img_url}}" class= "h-14 w-14 object-cover" alt="">
                </div>
                <div class="mx-4">
                    <p class="mt-1">{{user.account.name}}</p>
                    <p class="text-sm text-gray-400 mt-1">Associate Project Manager | Google</p>
                </div>
            </div>
            <div>
                <button class="bg-accent py-1 px-4 text-white text-md rounded">Follow<b>&#8314</b></button>
            </div>
        </div>
        <div class="flex justify-between items-center py-5 border-b-2 border-gray-200 border-solid">
            <div class="flex items-center justify-start">
                <div class="rounded-full h-14 w-14 overflow-hidden flex items-center justify-center flex-shrink-0">
                    <img src="{{user.account.profile_img_url}}" class= "h-14 w-14 object-cover" alt="">
                </div>
                <div class="mx-4">
                    <p class="mt-1">{{user.account.name}}</p>
                    <p class="text-sm text-gray-400 mt-1">Associate Project Manager | Google</p>
                </div>
            </div>
            <div>
                <button class="bg-accent py-1 px-4 text-white text-md rounded">Follow<b>&#8314</b></button>
            </div>
        </div>
    </div>
</div>