{% extends "base.html" %}

{% block head%}
    <title>Groups | Alumni Portal</title>
    <style>
        #right-pane{
            display: none !important;
        }
        #content{
            width: 100% !important;
            padding-right: 3.5%;
            padding-left: 3.5%;
        }
    </style>
{% endblock%}

{% block content %}
    <div class="flex justify-center flex-wrap items-stretch">
        {% for group in groups%}
        <div class="group-thumbnail cursor-pointer w-64 mt-6 rounded mx-3 flex-grow sm:flex-grow-0 flex flex-col" data-id="{{group.id}}">
            <img src="{{group.cover_image.url}}" alt="" class="w-full h-52 sm:h-44 object-cover">
            <div class="flex flex-col items-center bg-white py-2 justify-between flex-grow px-5">
                <div class="flex-grow flex flex-col ">
                    <p class="text-md font-medium text-center">{{group.title}}</p>
                    <p class="member-count text-sm text-gray-500 text-center" data-id="{{group.id}}">{{group.member_count}} Members</p>
                </div>
                {% if user.account in group.members.all %}
                <div class="text-sm text-white bg-accent rounded py-0.5 px-6 mt-2" data-id="{{group.id}}">
                    Joined
                </div>
                {% else %}
                <div class="join-group text-sm text-white bg-accent rounded py-0.5 px-6 mt-2 cursor-pointer hover:opacity-90" data-id="{{group.id}}">
                    Join Group
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% if user.is_staff %}
        <div class="create-group cursor-pointer hover:opacity-90 w-64 mt-6 rounded mx-3 bg-white flex-grow sm:flex-grow-0 flex flex-col justify-center items-center self-strech" style="min-height: 288px;">
            <img src="/static/img/add.svg" alt="" class="h-16 w-16 object-cover">
            <p class="text-lg text-gray-500">Create</p>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block overlay %}
    <form action="/groups/create/" method="POST" enctype="multipart/form-data" id="create-group-form" class="bg-white rounded p-5 hidden w-full md:w-3/5 lg:w-2/5 h-screen md:h-auto flex-col" >
        {% csrf_token %}
        <div class="flex justify-between items-center m-2">
            <p class="text-xl">Create a Group</p>
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="close-overlay cursor-pointer">
                <path opacity="0.8" d="M1 13L13 1M1 1L13 13" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>   
        </div>
        <input type="file" name="cover_image" accept="image/png, image/jpeg" id="create-group-img" class="hidden">
        <div id="create-group-prev" class="bg-gray-200 rounded h-60 mx-auto w-3/5 flex flex-col cursor-pointer items-center justify-center mt-3">
            <img src="/static/img/add.svg" alt="" class="h-16 w-16 object-cover rounded" >
            <p class="text-gray-400">Cover Image</p>
        </div>
        <div class="bg-gray-200 p-3 rounded mt-7">
            <input type="text" name="title" placeholder="Title" class="bg-transparent w-full">
        </div>
        <div class="bg-gray-200 p-3 rounded mt-7">
            <textarea name="description" placeholder="Description" style="resize: none;" class="bg-transparent w-full h-20"></textarea>
        </div>
        <input type="submit" value="Create" class="self-center bg-accent text-white py-2 px-10 rounded mt-7">
    </form>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/groups.js"></script>
{% endblock %}