{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/stylesheets/style-group.css">
{% endblock %}

{% block content %}
<div>
    <div class="h-52 w-full bg-custom mt-6 grid grid-rows-1 items-stretch grid-flow-col ">
        <button class="bg-white rounded ml-1.5 mt-5 h-9 w-9 content-center justify-center"><img src="/static/img/arrow-left.svg" alt="" class="w-9 h-5"></button>
        <button class="bg-white rounded mr-1.5 mt-5 h-9 w-9 content-center justify-center justify-self-end"><img src="/static/img/dots-vertical.svg" alt="" class="w-9 h-5"></button>
    </div>
    <div class="grid grid-rows-2 items-stretch grid-flow-col h-52 w-full bg-white px-9 pt-5 pb-9">
        <div class="grid grid-cols-5">
            <div class="col-span-2">               
                <div class="text-2xl font-medium mb-1">UX Designers</div>
                <div class="text-xs">141 Members</div>
            </div>
            <div class="col-span-3">
                <div class="text-lg font-medium mb-1">About</div>
                <div class="text-sm">
                I'm more experienced in eCommerce web projects and mobile banking apps,but also like to work with creative projects, such as landing pages or unusual corporate websites.
                </div>
            </div>
        </div>
        <div class="grid grid-cols-12 mt-14">
            <div class="col-span-6">
                <img src="/static/img/Photo.png" class="rounded-3xl h-8 inline">
                <input class="w-4/5 ml-4" type="text" placeholder="Share something with the group">
            </div>
            <div class="col-span-6 justify-self-end justify-around">
            <button class="text-sm button py-2 px-5 lg:mr-6 mr-1"><img src="/static/img/pencil.svg" class="pencil w-4 h-4 mr-1 inline">&nbsp;Create post</button>
            <button class="text-sm button py-2 px-5 "><img src="/static/img/information.svg" class="w-4 h-4 mr-1 inline">&nbsp;Ask Question</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}