<div id="comment-box" class="bg-white md:rounded p-4 w-full md:w-3/5 lg:w-2/5 h-screen md:h-5/6 lg:max-w-screen-sm flex flex-col justify-center" style="display:none;" >
    <div class="flex justify-between items-center m-2">
        <p class="text-xl">Comments</p>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="close-overlay cursor-pointer">
            <path opacity="0.8" d="M1 13L13 1M1 1L13 13" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>   
    </div>
    <div id="comment-box-content" class="mt-4 flex flex-col flex-1 w-full px-5 items-start overflow-scroll">

    </div>
    <form method="POST" id="comment-form" class="flex items-center w-full mt-3">
        {% csrf_token %}
        <div class=" bg-gray-100 p-2 flex-1 flex">
            <textarea name="content" type="text" id="comment-form-input" class="bg-transparent flex-1" style="min-height: 24px; height: 24px;"></textarea>
        </div>
        <button id="comment-form-submit" class="py-1 px-6 ml-5 text-white text-lg bg-accent rounded">Post</button>
    </form>
</div>
<template id="comment-template">
    <div class="comment flex items-start my-4">
        <div class="rounded-full h-12 w-12 overflow-hidden flex items-center justify-center flex-shrink-0">
            <img class="comment-author-img object-cover h-12 w-12" src="" alt="">
        </div>
        <div class="flex flex-col ml-4">
            <div class="comment-body bg-gray-100 rounded-lg py-2 px-4 w-auto">
                <p class="comment-author text-lg">Arjun Dey</p>
                <p class="comment-content text-gray-500" style="word-break: break-word;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam libero a enim beatae assumenda dolores laudantium quis id consequuntur rem nobis quos, qui aut adipisci, ut cum reiciendis esse quod?</p>
            </div>
            <!-- <div class="comment-date self-end text-xs text-gray-500 mt-1"></div> -->
        </div>
    </div>
</template>

<script>
    var tmp=document.createElement('div');
    document.body.appendChild(tmp);
    tmp.setAttribute('id','comment-resize-helper');
    let textarea = document.querySelector("#comment-form-input");
    $('#comment-form-input').on("input", function(e){
        tmp.setAttribute('style',`width:${this.clientWidth}px;`);
        tmp.innerHTML=this.value;
        this.style.height = Math.max(24, Math.min(96,tmp.clientHeight)) + "px";

    }); 
</script>