<div id="likes-box" class="bg-white md:rounded p-4 w-full md:w-3/5 lg:w-2/5 h-screen md:h-5/6 lg:max-w-screen-sm flex flex-col justify-center" style="display:none;" >
    <div class="flex justify-between items-center m-2">
        <p class="text-xl">Likes</p>
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="close-overlay cursor-pointer">
            <path opacity="0.8" d="M1 13L13 1M1 1L13 13" stroke="#111827" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>   
    </div> 
    <p id="no-likes-msg" class="text-lg text-gray-400 text-center mt-5">No Likes :(</p>
    <div id="likes-box-content" class="mt-4 flex flex-col flex-1 w-full px-5 sm:px-20 items-start overflow-scroll">

    </div>
</div>
<template id="like-template">
    <div class="like my-1 w-full">
        <a href="" class="like-author-url flex items-center bg-gray-100 rounded-lg px-5 py-2 w-full">
            <div class="rounded-full h-12 w-12 overflow-hidden flex items-center justify-center flex-shrink-0">
                <img class="like-author-img object-cover h-12 w-12" src="" alt="">
            </div>
            <p class="like-author text-lg ml-6">Arjun Dey</p> 
        </a>
    </div>
</template>
