<div id="post-form-area" class="bg-white md:rounded p-4 w-full md:w-3/5 lg:w-2/5 h-screen md:h-auto flex flex-col justify-center" style="display:none;">
    <form method="POST" action="{% url 'post:create_post' %}" id="post-form" class="flex justify-center">
        {% csrf_token %}
        {{postform.media}}
        {{postform}}
        <input type="file" name="img" style="display: none;">
    </form>
    <div class="post-form-footer w-full flex flex-col">
        <div id="tags" class="flex items-center p-3">
            <template id="tag-temp">
                <div class="tag flex items-center rounded-l-full rounded-r-full p-1 bg-gray-100 mx-3">
                    <img src="/static/img/close.svg" class="tag-remove rounded-full w-4 h-4 p-0.5 bg-black mx-1 cursor-pointer">
                    <p class="mx-1 text-gray-500">Design</p>
                </div>
            </template>
        </div>
        <div class="flex justify-between items-center pt-3">
            <button id="post-form-submit" class="bg-accent text-white p-1.5 rounded"
                style="font-size: 18px; border: none; width: 120px;">Post</button>
            <form action="" class="bg-gray-100 border rounded p-2 relative">
                <div class="absolute text-gray-400 absolute " style="font-size: 0;">
                    <span class="text-transparent" style="font-size: initial;" id="tag-sugg-cmp"></span>
                    <span id="tag-sugg-inc" style="font-size: initial;"></span>
                </div>
                <input type="text" id="tag-input" class="bg-transparent relative align-baseline" placeholder="Search Tags...">
            </form>
        </div>
        <p class="text-xs text-gray-500 self-end m-1 hidden" id="no-tag-msg">No result found</p>
    </div>
</div>
<template>
    <div class="cdx-block image-tool image-tool--filled">
        <div class="image-tool__image">
            <div class="image-tool__image-preloader"></div>
            <img class="image-tool__image-picture">
        </div>
        <div class="cdx-input image-tool__caption" contenteditable="true" data-placeholder="Caption"></div>
        <div class="cdx-button"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.15 13.628A7.749 7.749 0 0 0 10 17.75a7.74 7.74 0 0 0 6.305-3.242l-2.387-2.127-2.765 2.244-4.389-4.496-3.614 3.5zm-.787-2.303l4.446-4.371 4.52 4.63 2.534-2.057 3.533 2.797c.23-.734.354-1.514.354-2.324a7.75 7.75 0 1 0-15.387 1.325zM10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10z">
                </path>
            </svg> Select an Image</div>
    </div>
</template>
<pre id="tag-list" class="hidden">{{tags}}</pre>

<script type="text/javascript">
    //TO PREVENT EDITORJs FROM UPLOADING FILES BEFORE ACTUAL POST
    let imgCount=0;
    let selTags = [];

    $(window).on('load', function () {
        //to set the preview image
        $('[data-editorjs-wrapper=""]').bind('DOMSubtreeModified', function(){
            if($('.image-tool__image-preloader').length>imgCount){
                var bgimg=$('.image-tool__image-preloader')[imgCount].style.backgroundImage;
                if(bgimg!=''){
                    bgimg=bgimg.substring(5,bgimg.length-2);
                    if($('.image-tool__image-picture').length!=0){
                        if($('.image-tool__image-picture')[imgCount].getAttribute('src').startsWith('/media/')){
                            $('.image-tool__image-picture')[imgCount].setAttribute('src',bgimg);
                            imgCount++;
                        }
                    }
                }
                
            }
        })

        //overiding the form submit to upload the files first
        $('#post-form-submit').click(function(){
            //If there are no files to upload, submit immediately
            if(attaches.size + images.size == 0){
                $('#post-form').submit();
                return;
            }

            let ctr=0,index=0;
            let editorData=JSON.parse($('#id_content').val());
            attaches.forEach(function(ele){
                console.log(ele);
                let editorData=JSON.parse($('#id_content').val());
                let fileBlocks=editorData.blocks.filter(b=>b.type=='Attaches');
                let fileUrl=fileBlocks[index].data.file.url.split('/');
                fd = new FormData();
                fd.append("file", ele,fileUrl[ fileUrl.length -1 ]);
                fd.append("size",ele.size);
                $.ajax({
                    type: "POST",
                    url:'/post/fileUpload/',
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        ctr++;
                        if(ctr==attaches.size+images.size){
                            console.log('done');
                            $('#post-form').submit();
                        }
                    }
                })
                index++;
            })
            index=0;
            images.forEach(function(ele){
                console.log(ele);
                let imgBlocks=editorData.blocks.filter(b=>b.type=='Image');
                let imgUrl=imgBlocks[index].data.file.url.split('/');
                fd = new FormData();
                fd.append("image", ele,imgUrl[ imgUrl.length -1 ]);
                $.ajax({
                    type: "POST",
                    url:'/post/imageUpload/',
                    data: fd,
                    processData: false,
                    contentType: false,
                    success: function(data){
                        ctr++;
                        if(ctr==attaches.size+images.size){
                            console.log('done');
                            $('#post-form').submit();
                        }
                    }
                })
                index++;
            })
        });

        let attaches=new Set();
        let images=new Set();
        let dummyFile=new Blob(['dummyFile'],{type : 'text/html'});
        //extract file from editorjs whenever it does a mock upload
        //editorjs appends a temp input to body whenever it attempts to upload
        $('body').bind('DOMSubtreeModified', function(){
            if($('body>input[type=file][accept="*"]').length>0){
                $('body>input[type=file][accept="*"]').change(function(e){
                    console.log(e.target.files);
                    attaches.add(e.target.files[0]);
                })
            }
            if($('body>input[type=file][accept="image/*"]').length>0){
                $('body>input[type=file][accept="image/*"]').change(function(e){
                    console.log(e.target.files);
                    images.add(e.target.files[0]);
                })
            }
        })

        $('.codex-editor__redactor').css('padding-bottom','10px');
        $('.codex-editor__redactor').css('height','500px');
        $('.codex-editor__redactor').css('max-height','60vh');
        $('.codex-editor__redactor').css('margin','0');
        $('.codex-editor__redactor').css('overflow-y','scroll');


        //TAGS
        let tagId = JSON.parse($('#tag-list').text());
        console.log(tagId);
        let tagList=[];
        for(let tag in tagId)tagList.push(tag);
        tagList.sort();
        $('#post-form select').css('display','none');
        $('#post-form option').each((i,e)=>{e.selected=false;});
        $('#tag-input').on('input',function(){
            let val = $(this).val();
            if(val===""){
                $('#tag-sugg-cmp').text("");
                $('#tag-sugg-inc').text("");
                $('#no-tag-msg').css('display','none');
                return;
            }
            let res = tagList.find(ele=>ele.toLowerCase().startsWith(val.toLowerCase()));
            if(!res){
                $('#no-tag-msg').css('display','block');
                return;
            }
            $('#no-tag-msg').css('display','none');
            let cmp = res.slice(0,val.length);
            let inc = res.slice(val.length, res.length);
            $('#tag-sugg-cmp').text(cmp);
            $('#tag-sugg-inc').text(inc);
        })

        $('#tag-input').on('keypress',function(e){
            if(e.which==13 || e.which==9){
                e.preventDefault();
                let temp =$("#tag-temp")[0];
                let tag = temp.content.cloneNode(true);
                let val = $('#tag-input').val();
                let res = tagList.find(ele=>ele.toLowerCase().startsWith(val.toLowerCase()));
                if(!res)return;
                tagList.splice(tagList.indexOf(res),1);
                $('p',tag).text(res);
                $('.tag-remove',tag).click(function(e){
                    let parent = $(this).parent()[0];
                    let delTag = $('p',parent).text();
                    tagList.push(delTag);
                    tagList.sort();
                    selTags.splice(selTags.indexOf(delTag),1);
                    $(`#post-form select option[value=${tagId[delTag]}]`)[0].selected = false;
                    $(parent).remove();
                })
                $('#tags').append(tag);
                selTags.push(res);
                $(`#post-form select option[value=${tagId[res]}]`)[0].selected = true;
                $('#tag-input').val("");
                $('#tag-sugg-cmp').text("");
                $('#tag-sugg-inc').text("");
                $('#no-tag-msg').css('display','none');
            }
        })

        

    })

</script>