<div id="feed">

    <div id="no-post" class="flex rounded bg-white justify-center items-center h-100 p-10 flex-col shadow-lg my-10 hidden">
        <p class="text-lg text-gray-500">No Posts Yet</p>
        {% if request.resolver_match.app_name == ''%}
        <p class="text-sm text-gray-400 mt-4"><b>Tip:</b> Follow people or groups</p>
        {% else %}
        <p class="text-sm text-gray-400 mt-4"><b>Tip:</b> Create a Post</p>
        {% endif %}
    </div>
</div>

<template id="post-template">
    <div class="post rounded w-full bg-white py-1 sm:py-3 px-1 md:px-5 shadow-lg my-5">
        <div class="post-header w-full px-3 py-1.5 md:py-2.5 overflow-auto flex justify-between overflow-visible">
            <a class="post-author flex items-center justify-start">
                <img class="post-author-img rounded-full object-cover h-12 sm:h-14 w-12 sm:w-14 flex-shrink-0" src="" alt="">
                <div class="mx-4">
                    <p class="post-author-name text-md sm:text-md leading-4 font-medium mt-1">John Doe</p>
                    <p class="post-author-desg text-xs text-gray-600">Associate Project Manager | Google</p>
                </div>
            </a>
            <div class="float-right flex flex-col items-end">
                <div class="relative overflow-visible ">
                    <img src="/static/img/more.svg" alt="" class="post-options-button cursor-pointer h-5 w-5">
                    <div class="post-options bg-white absolute top-6 right-0 shadow-lg w-32 right-0 px-1 py-1 border-2 border-gray-100 border-solid hidden">
                        <div class="post-delete hidden text-sm text-gray-500 hover:bg-gray-100 py-2 px-1 flex items-center cursor-pointer" href="#">
                            <img src="/static/img/delete.svg" class="h-4 -mt-0.5">
                            <p class="ml-2">Delete</p>
                        </div>
                        <div class="post-report block text-sm text-gray-500 hover:bg-gray-100 py-2 px-1 flex items-center cursor-pointer" href="#">
                            <img src="/static/img/innfo.svg" class="h-4 -mt-0.5">
                            <p class="ml-2">Report</p>
                        </div>
                    </div>
                </div>
                <p class="post-date text-xs text-gray-400 mt-1 text-right">57 minutes ago</p>
            </div>
        </div>
        <div class="post-content py-4 flex flex-col items-center pt-0">

        </div>
        <div class="post-footer w-full flex p-1 sm:p-3 justify-between items-center flex-col lg:flex-row">
            <div class="post-actions flex justify-around items-center w-full md:w-auto">
                <div class="like-button flex justify-start items-center mx-1 cursor-pointer">
                    <svg height="18" width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#CCCCCC" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"/>
                    </svg>
                    <p class="text-sm text-gray-400 font-light mx-4 hidden md:block">Like</p>
                </div>
                <div class="comment-button flex justify-start items-center mx-1 cursor-pointer">
                    <svg height="18" width="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 896 1024">
                        <path d="M768 128H128C66 128 0 192 0 256v384c0 128 128 128 128 128h64v256l256-256c0 0 258 0 320 0s128-68 128-128V256C896 194 832 128 768 128z" stroke="#CCCCCC" fill="none" stroke-width="70" />
                    </svg>
                    <p class="text-sm text-gray-400 font-light mx-4 hidden md:block">Comment</p>
                </div>
                <!-- <div class="flex justify-start items-center mx-1 cursor-pointer">
                    <svg height="18" width="18" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
                        <path d="M990,379.2L500,24v164.3C214.5,289.2,10,561.5,10,881.5c0,32,2.1,63.6,6,94.5C53,742,255.6,563,500,563v171.5L990,379.2z" fill="none" stroke-width="70" stroke="#CCCCCC"/>
                    </svg>
                    <p class="text-sm text-gray-400 font-light mx-4 hidden md:block">Share</p>
                </div> -->
            </div>
            <div class="post-stats mt-3 lg:mt-0 mb-2 lg:mb-0">
                <p class="text-xs text-gray-400 font-light">
                    <span class="post-likes cursor-pointer"><span class="like-count"></span> Likes</span> | <span class="comment-count"></span> Comments
                </p>
            </div>
        </div>
    </div>
</template>

<script class='feed-tag' type='text' data-id=""></script>

{% block scripts %}
<script id='csrf_token' type='text'>{{csrf_token}}</script>
<script type="text" id="data-username">{{user.username}}</script>
{% if id %}
<script id='post-id' type='text' data-id={{id}}></script>
<script src="/static/scripts/individual_post.js"></script>
{% else %}
<script src="/static/scripts/post.js?version=1"></script>
{% endif %}
{% endblock %}