

.event{
    width: 297px;
    height: 312px;
}

.upperflex{
    background: rgba(196, 196, 196, 0.5);
    border-radius: 4px 4px 0px 0px;
}

.middleflex{
    border-bottom: solid 1px #C4C4C480;
}

.bottomflex{
    height: 10%;
    color: #00000080;
}

.event-date{
    background: #4150D7;
    width: 32%;
}

.event-time{
    background: #FF87A4;
    width: 32%;
}


.btmicon{
    height: 70%;
}

#navbar{
    width: 100%;
}

#options{
    color: rgba(0, 0, 0, 0.5);
}

#right-pane{
    width: 10%;
    padding: 8px 1.5%;
}

@media (min-width: 992px){
    #content{
        width: 90%;
    }
}

@media (min-width: 1336px){
    #right-pane{
        width: calc(0.10 * (100% - 325px));
        padding-left: 0;
    }
}