<div class="alumni-answers rounded w-full bg-white py-4 px-4 shadow-lg my-5">
    <div class="flex justify-between items-center w-full">
        <div class="flex items-center">
            <svg width="16" height="16" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.33341 2.33334H2.00008C1.2637 2.33334 0.666748 2.93029 0.666748 3.66667V11C0.666748 11.7364 1.2637 12.3333 2.00008 12.3333H9.33341C10.0698 12.3333 10.6667 11.7364 10.6667 11V7.66667M9.72394 1.39052C10.2446 0.869825 11.0889 0.869825 11.6096 1.39052C12.1303 1.91122 12.1303 2.75544 11.6096 3.27614L5.8857 9H4.00008L4.00008 7.11438L9.72394 1.39052Z" stroke="#111827" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <p class="text-md font-medium ml-2">Answers from Alumni</p>
        </div>
        <p class="text-accent text-sm">View More</p>
    </div>

    <div id="target" class="mt-10">
        
    </div>

    <template id="popular-questions">
        <div class="accordion-entry w-full border-b-2 border-solid border-gray-200 my-5 accordion-entry-collapsed">
            <div class="accordion-question flex justify-between items-center p-2 cursor-pointer">
                <p class="question-content"> </p>
                <button class="accordion-expand w-5 h-5 focus:outline-none"><img src="/static/img/down-arrow.svg" alt=""></button>
            </div>
            <div class="accordion-answer">
                <p class="answer-content text-sm text-gray-500 m-2"> </p>
            </div>
        </div>
    </template>
</div>

<script id='csrf_token' type='text'>{{csrf_token}}</script>
<script>
    csrf_token = $("#csrf_token").text();
    $.ajax({
        type: "POST",
        url: "/faq/ans-from-alumni",
        data: {'csrfmiddlewaretoken': csrf_token},
        dataType: "json",
        success: function (data) {
            for (const question of data) {
                // clone of children of template subtree
                let qClone = $("#popular-questions").contents().clone(true);

                // modify the data
                $(".question-content", qClone).html(question.content);
                $(".answer-content", qClone).html(question.answers.content);
                
                // append clone to target
                $("#target").append(qClone);
            }

            // add event listners (from base.js )
            loadAccordion();
        },
        error: function (data) {
            console.log(data.responseJSON.error);
        },
    });
</script>