a, u{
   text-decoration: none; 
   color: #111;
}

#online-panel{
    width: 300px;
    height: 350px;
    overflow-y: scroll;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    float: left;
    box-shadow: 1px 1px 8px #999;;
    -ms-overflow-style:none;
    scrollbar-width: none;
}

#online-panel::-webkit-scrollbar{
    display: none;
}

#online-panel .online-panel-header{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background: #343a40;
    height: 40px;
    color: #fff;
    line-height: 40px;
    margin-bottom: 5px;
    display: block;
}
.online-user{
    width: 100%;
    height: 50px;
    padding: 5px 15px;
    box-sizing: border-box;
}

.online-user a img{
    float: left;
    border-radius: 50%;
    object-fit: cover;
    height: 40px;
    width: 40px;
}
.online-user span{
    float: left;
    line-height: 40px;
    font-size: 15px;
    margin-left: 10px;
}

.online-user>img{
    float:right;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

.hidden{
    display: none;
}