#right-pane{
    width: 27%;
    padding: 10px 1.5%;
}

#content{
    min-height: 0;
    height: var(--vh);
    padding-top: 0;
}

#header{
    display: none;
}

#sidebar-btn{
    top:2%;
    transition: 1s;
}

@media (min-width: 992px){
    #content{
        width: 73%;
        padding-left: 2%;
        height: calc(100vh - 95px);
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #header{
        display: flex;
    }

    #sidebar-btn{
        top: unset;
    }

    .msg{
        max-width: 60%;
    }
}

@media (min-width: 1336px){
    #right-pane{
        width: calc(0.27 * (100% - 325px));
    }
}




.msg{
    max-width: 75%;
}

.msg-typing-img{
    width: 80px;
    height: 100%;
    object-fit: cover;
    margin: auto;
}

.conv-text{
    max-width: calc(100% - 90px);
}

